<p>
  <b>Employee:</b>
  <%=h @assignment.employee_id %>
</p>

<p>
  <b>Project:</b>
  <%=h @assignment.project_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @assignment.title %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
