<%- 
  index ||= assignment_counter
  new_or_existing = assignment.new_record? ? 'new' : 'existing'
  id_or_index = assignment.new_record? ? index : assignment.id 
  prefix = "project[#{new_or_existing}_assignment_attributes][]" 
-%> 

<div class="assignment"> 
<% fields_for prefix, assignment do |assignment_form| -%> 
<p>
  <%- Employee.find(:all).each do |emp| -%>
    <%- radio_id = "project_#{new_or_existing}_assignment_attributes_#{id_or_index}_employee_id_#{emp.id}" -%>
    <%= assignment_form.radio_button :employee_id, emp.id, :id => radio_id, :index => id_or_index %>
    <label for="<%= radio_id %>"><%= emp.name %></label>
  <%- end -%>
</p>
<p>  
  Title: <%= assignment_form.text_field :title, :index => id_or_index %> 
  <%= link_to_function "remove", "$(this).up('.assignment').remove()" %>
</p>
<% end -%> 
</div> 
