<%- content_for :head do -%>
  <script type="text/javascript" charset="utf-8">
   //<![CDATA[
     taskForm = new Subform('<%= escape_javascript(render(:partial => "task", :object => Task.new, :locals => {:index => "INDEX"})) %>',<%= @project.tasks.length %>,'tasks');
     assignmentForm = new Subform('<%= escape_javascript(render(:partial => "assignment", :object => Assignment.new, :locals => {:index => "INDEX"})) %>',<%= @project.assignments.length %>,'assignments');
   //]]>
  </script>
<%- end -%>

<p>
  <%= link_to_function "Show/Hide Params", visual_effect(:toggle_blind, :params, :duration => "0.1") %>
</p>
<div id="params" style="display:none;">
  <%= debug params %>
</div>

<%= render :partial => "error_messages", :object => @project, :locals => {:order => [:name, :tasks, :assignments, :project_detail, :all]} %>

<% form_for @project do |f| -%>
<p>
  Name: <%= f.text_field :name %>
</p>

<fieldset>
  <legend>Tasks (has_many)</legend>
  <div class="yui-g">
    <div class="yui-u first">
      <div id="tasks">
		<%= render :partial => 'task', :collection => @project.tasks.sort{|x,y| sort_by_sorting_order(x,y)} %>
      </div>
      <p>
        <%= link_to_function "Add Task", "taskForm.add()" %>
      </p>
    </div>
    <div class="yui-u">
      <p>Add several tasks and leave them blank, then click submit to see validation in action.</p>
      <p>Notice how clicking the label properly highlights the correct check box.</p>
      <p>Click <%= link_to_function "Show/Hide Params", visual_effect(:toggle_blind, :params, :duration => "0.1") %> to verify that the checkbox is being sent back to the server.</p>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Assignments (has_many)</legend>
  <div class="yui-g">
    <div class="yui-u first">
      <div id="assignments">
        <%= render :partial => 'assignment', :collection => @project.assignments_without_deleted %>
      </div>
      <p>
        <%= link_to_function "Add Assignment", "assignmentForm.add()" %>
      </p>
    </div>
    <div class="yui-u">
      <p>Add several assignments and leave them blank, then click submit to see validation in action.</p>
      <p>Notice how clicking the label properly highlights the correct radio button.</p>
      <p>Click <%= link_to_function "Show/Hide Params", visual_effect(:toggle_blind, :params, :duration => "0.1") %> to see the params.</p>
      <p>If you haven't selected anything notice that it's absent from the params, but it doesn't matter because the validations pick it up.</p>
      <p>Remove one of the saved assignments, but leave some other field in the form blank to trigger the validations.  Notice that your Assignment is not deleted until the save is successful.</p>
    </div>
  </div>

</fieldset>

<fieldset>
  <legend>Categories (has_many :through => :categorizations)</legend>
  <div class="yui-g">
    <div class="yui-u first">
      <div id="categories">
          <%= render :partial => 'category', :collection => Category.all, :locals => {:checked => @project.categories} %>
      </div>
    </div>
    <div class="yui-u">

    </div>
  </div>

</fieldset>

<fieldset>
  <legend>Tags (has_and_belongs_to_many)</legend>
  <div class="yui-g">
    <div class="yui-u first">
      <div id="categories">
          <%= render :partial => 'tag', :collection => Tag.all, :locals => {:checked => @project.tags} %>
      </div>
    </div>
    <div class="yui-u">
      <p><%= pluralize(ActiveRecord::Base.connection.send(:select, "select count(*) from projects_tags").first["count(*)"].to_i, "tag") %> in the database</p>
      <p><%= pluralize(@project.tags.length, "tag") %> on the object</p>
    </div>
  </div>

</fieldset>

<fieldset>
  <legend>Project Detail (has_one)</legend>
  <div class="yui-g">
    <div class="yui-u first">
      <% fields_for "project[project_detail_attributes]" , @project.project_detail do |detail_form| -%> 
      <p>  
        Description: <%= detail_form.text_field :description %> 
      </p>
      <% end -%> 
    </div>
    <div class="yui-u">
      This has no javascript
    </div>
  </div>
</fieldset>

<p>
<%= f.submit "Submit", :onClick => "write_so('edit_project_1', 'sorting_order');" %>
</p>
<% end -%>
