<%- content_for :head do -%>
  <script type="text/javascript" charset="utf-8">
   //<![CDATA[
     taskForm = new Subform('<%= escape_javascript(render(:partial => "task", :object => Task.new, :locals => {:index => "INDEX"})) %>',<%= @project.tasks.length %>,'tasks');
     assignmentForm = new Subform('<%= escape_javascript(render(:partial => "assignment", :object => Assignment.new, :locals => {:index => "INDEX"})) %>',<%= @project.assignments.length %>,'assignments');
   //]]>
  </script>
<%- end -%>

<p>
  <%= link_to_function "Show/Hide Params", visual_effect(:toggle_blind, :params, :duration => "0.1") %>
</p>
<div id="params" style="display:none;">
  <%= debug params %>
</div>

<%= render :partial => "error_messages", :locals => {:project => @project} %>

<% form_for @project do |f| -%>
<p>
  Name: <%= f.text_field :name %>
</p>

<fieldset>
  <legend>Tasks</legend>
  <div class="yui-g">
    <div class="yui-u first">
      <div id="tasks">
        <%= render :partial => 'task', :collection => @project.tasks %>
      </div>
      <p>
        <%= link_to_function "Add Task", "taskForm.add()" %>
      </p>
    </div>
    <div class="yui-u">
      <p>Add several tasks and leave them blank, then click submit to see validation in action.</p>
      <p>Notice how clicking the label properly highlights the correct check box.</p>
      <p>Click <%= link_to_function "Show/Hide Params", visual_effect(:toggle_blind, :params, :duration => "0.1") %> to verify that the checkbox is being sent back to the server.</p>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Assignments</legend>
  <div class="yui-g">
    <div class="yui-u first">
      <div id="assignments">
        <%= render :partial => 'assignment', :collection => @project.assignments.select{|t| t.marked_for_deletion == false} %>
      </div>
      <p>
        <%= link_to_function "Add Task", "assignmentForm.add()" %>
      </p>
    </div>
    <div class="yui-u">
      <p>Add several assignments and leave them blank, then click submit to see validation in action.</p>
      <p>Notice how clicking the label properly highlights the correct radio button.</p>
      <p>Click <%= link_to_function "Show/Hide Params", visual_effect(:toggle_blind, :params, :duration => "0.1") %> to see the params.  If you haven't selected anything notice that it's absent from the params, but it doesn't matter because the validations pick it up.</p>
    </div>
  </div>

</fieldset>

<fieldset>
  <legend>Categories</legend>
  <div class="yui-g">
    <div class="yui-u first">
      <div id="categories">
        <%- for category in Category.find(:all) -%>
        <div class="categorization">
          <%= render :partial => 'categorization', :object => (@project.categorizations.select{|c| c.category == category}.first || Categorization.new), :locals => {:category => category} %>
        </div>
        <% end -%>
      </div>
    </div>
    <div class="yui-u">

    </div>
  </div>

</fieldset>

<p>
<%= f.submit "Submit" %>
</p>
<% end -%>
