<%= error_messages_for :project %> 

<% form_for @project do |f| -%> 
<p> 
  Name: <%= f.text_field :name %> 
</p>

<fieldset>
  <legend>Tasks</legend>
  <div id="tasks"> 
    <%= render :partial => 'task', :collection => @project.tasks %> 
  </div> 
  <p> 
  <%= add_task_link "Add a task" %> 
</p> 
</fieldset>

<fieldset>
  <legend>Assignments</legend>
  <div id="assignments"> 
    <%= render :partial => 'assignment', :collection => @project.assignments %> 
  </div> 
  <p> 
  <%= add_assignment_link "Add an assignment" %> 
</p> 
</fieldset>

<fieldset>
  <legend>Categories</legend>
  <div id="categories">

    <%- for category in Category.find(:all) -%>
    <div class="categorization">
    <% categorization = @project.categorizations.select{|c| c.category == category}.first || Categorization.new %>
    <% new_or_existing = categorization.new_record? ? 'new' : 'existing' %> 
    <% prefix = "project[#{new_or_existing}_categorization_attributes][]" %> 
    <% fields_for prefix, category do |category_form| -%> 
    <p> 
      <%= category_form.check_box :category_id, {:checked => @project.categorizations.include?(categorization)}, category.id %> 
      <label for="project_category_attributes_<%=  category.id  %>_id"><%= category.name %></label>
    </p>
    <% end -%> 
    </div>
    <% end -%> 

  </div> 
</fieldset>


<p> 
<%= f.submit "Submit" %> 
</p> 
<% end -%> 
