<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<%- if @project.tasks.length > 0 -%>
<h3>Tasks</h3>
<ul>
<%- @project.tasks.sort{|x,y| sort_by_sorting_order(x,y) }.each do |task| -%>
<li><%= task.name %></li>
<%- end -%>
</ul>
<%- end -%>

<%- if @project.assignments.length > 0 -%>
<h3>Assignments</h3>
<ul>
<%- @project.assignments.each do |assignment| -%>
<li><%= assignment.employee.name %> - <%= assignment.title %></li>
<%- end -%>
</ul>
<%- end -%>

<%- if @project.categories.length > 0 -%>
<h3>Categories</h3>
<ul>
<%- @project.categories.each do |category| -%>
<li><%= category.name %></li>
<%- end -%>
</ul>
<%- end -%>

<%- if @project.project_detail -%>
<h3>Deatail</h3>
<ul>
<li><%= @project.project_detail.description %></li>
</ul>
<%- end -%>

<%- if @project.tags.length > 0 -%>
<h3>Tags</h3>
<ul>
  <%- @project.tags.each do |tag| -%>
    <li><%= tag.name %></li>
  <%- end -%>
</ul>
<%- end -%>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
