<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Changes Test</title>
  <%= javascript_include_tag :defaults %> 
  <%= stylesheet_link_tag "reset-fonts-grids", "base", "application" %>
  <%= yield :head %>
</head>
<body>
  <div id="doc3" class="yui-t1">
    <div id="hd">
      <h1>Complex Form Demo App</h1>
    </div>
    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">

          <%= content_tag :div, flash[:notice], :id => "flash" if flash[:notice] %>
          <%= yield %>

        </div>
      </div>
      <div class="yui-b">
        <ul>
          <li><%= link_to "Home", "/" %></li>
        </ul>
        <ul>
          <%- [Project].each do |model| -%>
          <li><%= link_to model.to_s.pluralize, eval("#{model.to_s.pluralize.downcase}_url")  %></li>
          <%- end -%>
          <li><%= link_to "New Project", new_project_url  %></li>
        </ul>
        <ul>
          <%- [Employee, Category].each do |model| -%>
          <li><%= link_to model.to_s.pluralize, eval("#{model.to_s.pluralize.downcase}_url")  %></li>
          <%- end -%>
        </ul>
        <ul>
          <%- [Task, Assignment, Categorization].each do |model| -%>
          <li><%= link_to model.to_s.pluralize, eval("#{model.to_s.pluralize.downcase}_url")  %></li>
          <%- end -%>
        </ul>
      </div>

    </div>
    <div id="ft">
      <p>Created by Jeff Dean - jeff at zilkey dot com</p>
    </div>
  </div>
</body>
</html>